/* Grid.css */
.divider {
    position: absolute;
    background-color: #ccc;
  }
  
  .horizontal-divider {
    width: 100%;
    height: 1px;
  }
  
  .vertical-divider {
    width: 1px;
    height: 100%;
  }
  